.App {
  text-align: center;
}

.App-logo {
  resize: both;
  width: 600px;
  height: 250px;
  pointer-events: none;
  background-image: url(./images/logo.png);
}

.App-header {
  list-style-type: none;
  display: block;
  float: left;
  padding: 16px 20px;
  background-color: rgb(34, 34, 105);
  display: flex;
  font-size: 20px;
  text-align: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
